<div class="cs-backdrop" *ngIf="progress">
    <mat-progress-bar mode="query" class="cs-absolute"></mat-progress-bar>
</div>
<div *ngIf="type !== 'Admin' && type !== 'Branch Head'"  class="row">
    <div class="col-md-3" >
        <mat-card class="card card-wrapper" style="width:100%;">
            <mat-card-title class="card__header">
                <h5 class="card__title"> Add Teller </h5>
            </mat-card-title>
            <mat-card-content>
                <form class="form " [formGroup]="tellerForm" (ngSubmit)="tellerChanges()" >
				
                    <mat-form-field  class="example-full-width" appearance="outline">
                        <mat-label class="form__label">Firstname</mat-label>
                        <input style="text-transform: uppercase;" formControlName="firstname" matInput type="text"  autocomplete="off" >		
                    </mat-form-field>
    
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label class="form__label">Lastname</mat-label>
                        <input  style="text-transform: uppercase;" formControlName="lastname" matInput type="text"  autocomplete="off" >		
                    </mat-form-field>
    
                    <mat-form-field class="example-full-width" appearance="fill">
                        <span matPrefix>+63 &nbsp;</span>
                        <mat-label class="form__label">Contact Number</mat-label>
                        <input formControlName="contactNo" matInput type="text" maxlength="10" autocomplete="off" (keypress)="validateOnlyNumbers($event)" >		
                    </mat-form-field>
    
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label class="form__label">Email</mat-label>
                        <input formControlName="email" matInput type="email"  autocomplete="off" >		
                    </mat-form-field>
    
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label class="form__label">Address</mat-label>
                        <input style="text-transform: uppercase;" formControlName="locationAddress" matInput type="text"  autocomplete="off" >		
                    </mat-form-field>
                    <div align = "end" style="padding: 20px; border-top: solid 1px #ececec;">
                        <button mat-raised-button color="warn" type="button" (click)="reset()"> Close </button>
                        &nbsp;&nbsp;
                        <button type="submit" mat-raised-button color="primary"  [disabled]="tellerForm.invalid"  > {{ btnName}} </button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-9">
        <mat-card  class="card card-wrapper">
            <mat-card-title class="card__header">
                <h5 class="card__title">{{ item }} List</h5>
            </mat-card-title>
            <mat-card-content>
                <div fxLayout="row wrap">
                    <div fxFlex="70%" fxFlex.md="70%" fxFlex.xs="70%"></div>
                    <form class="form" fxFlex="30%" fxFlex.md="30%" fxFlex.xs="30%">
                        <mat-form-field class="form__input" appearance="outline">
                            <mat-label class="form__label">Search </mat-label>
                            <input matInput type="email" class="form__spacing" (keyup)="applyFilter($event)" autocomplete="off">
                        </mat-form-field>
                    </form>
                </div>
        
               <div>
                    <table class="table__table" mat-table [dataSource]="dataSource">
                        
                        <ng-container matColumnDef="no">
                            <th class="table__table-header" mat-header-cell *matHeaderCellDef> no </th>
                            <td class="table__table-body" mat-cell *matCellDef="let element; index as i"> {{ i+1 }}. </td>
                        </ng-container>
        
                        
                        <ng-container matColumnDef="teller_name">
                            <th class="table__table-header" mat-header-cell *matHeaderCellDef>Teller name</th>
                            <td class="table__table-body" mat-cell *matCellDef="let element">
                                <span > <b>{{ element.firstname }} {{ element.lastname }}</b> </span>
                                <p>+63{{ element.contactNo }} / {{ element.email }} <br> <i>{{ element.location }}</i> </p>
                            </td>
                        </ng-container>
        
                        <ng-container matColumnDef="code">
                            <th class="table__table-header" mat-header-cell *matHeaderCellDef> Branch code </th>
                            <td class="table__table-body" mat-cell *matCellDef="let element" > 
                                <span [appBranchCode] = "element">  </span>
                            </td>
                        </ng-container>
        
                        <ng-container matColumnDef="type">
                            <th class="table__table-header" mat-header-cell *matHeaderCellDef> Teller code </th>
                            <td class="table__table-body" mat-cell *matCellDef="let element"> {{ element.tellerCode }} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="status">
                            <th class="table__table-header" mat-header-cell *matHeaderCellDef> Status </th>
                            <td class="table__table-body" mat-cell *matCellDef="let element"> 
                                <mat-slide-toggle [checked]="element.status == 0"  (change)="slideStatus(element, item)" >
                                    <div *ngIf="element.status == 0 ;else elseBlock">Active</div>
                                    <ng-template #elseBlock >Inactive</ng-template>
                                </mat-slide-toggle>
                            </td>
                        </ng-container>
        
                        <ng-container matColumnDef="action">
                            <th class="table__table-header" mat-header-cell *matHeaderCellDef> </th>
                            <td class="table__table-body" mat-cell *matCellDef="let element">
        
                                <button *ngIf="element.status == 0" class="settings-button" mat-mini-fab [matMenuTriggerFor]="settings">
                                    <mat-icon class="settings-button__icon">more_vert</mat-icon>
                                </button>
                                <div class="settings-menu">
                                    <mat-menu #settings="matMenu" xPosition="before">
                                        <button class="settings-menu__item" mat-menu-item  (click)="editTeller(element)"><mat-icon>create</mat-icon>Edit</button>
                                    </mat-menu>
                                    
                                </div>
                            </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
               </div>
            </mat-card-content>
            <div style="text-align: center;" *ngIf="tellerData === 0">
                <br>
                    <p> NO RECORD FOUND... </p>
                <hr>
            </div>
            <div class="pagination">
                <mat-paginator [pageSizeOptions]="[10, 15, 100]" showFirstLastButtons></mat-paginator>
            </div>
        </mat-card>
    </div>

   
</div>

<div *ngIf="type === 'Admin' || type === 'Branch Head'" class="row" >

    <div class="col-md-12">
        <mat-card  class="card card-wrapper">
            <mat-card-title class="card__header">
                <h5 class="card__title">{{ item }} List</h5>
            </mat-card-title>
            <mat-card-content>
                <div fxLayout="row wrap">
                    <div fxFlex="70%" fxFlex.md="70%" fxFlex.xs="70%"></div>
                    <form class="form" fxFlex="30%" fxFlex.md="30%" fxFlex.xs="30%">
                        <mat-form-field class="form__input" appearance="outline">
                            <mat-label class="form__label">Search </mat-label>
                            <input matInput type="email" class="form__spacing" (keyup)="applyFilter($event)" autocomplete="off">
                        </mat-form-field>
                    </form>
                </div>
        
               <div>
                    <table class="table__table" mat-table [dataSource]="dataSource">
                        
                        <ng-container matColumnDef="no">
                            <th class="table__table-header" mat-header-cell *matHeaderCellDef> no </th>
                            <td class="table__table-body" mat-cell *matCellDef="let element; index as i"> {{ i+1 }}. </td>
                        </ng-container>
        
                        
                        <ng-container matColumnDef="teller_name">
                            <th class="table__table-header" mat-header-cell *matHeaderCellDef>Teller name</th>
                            <td class="table__table-body" mat-cell *matCellDef="let element">
                                <span > <b>{{ element.firstname }} {{ element.lastname }}</b> </span>
                                <p>+63{{ element.contactNo }} / {{ element.email }} <br> <i>{{ element.location }}</i> </p>
                            </td>
                        </ng-container>
        
                        <ng-container matColumnDef="code">
                            <th class="table__table-header" mat-header-cell *matHeaderCellDef> Branch code </th>
                            <td class="table__table-body" mat-cell *matCellDef="let element"> {{ element.tellerCode }} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="type">
                            <th class="table__table-header" mat-header-cell *matHeaderCellDef> Teller code </th>
                            <td class="table__table-body" mat-cell *matCellDef="let element"> {{ element.tellerCode }} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="status">
                            <th class="table__table-header" mat-header-cell *matHeaderCellDef> Status </th>
                            <td class="table__table-body" mat-cell *matCellDef="let element"> 
                                <mat-slide-toggle [checked]="element.status == 0"  (change)="slideStatus(element, item)" >
                                    <div *ngIf="element.status == 0 ;else elseBlock">Active</div>
                                    <ng-template #elseBlock >Inactive</ng-template>
                                </mat-slide-toggle>
                            </td>
                        </ng-container>
        
                        <ng-container matColumnDef="action">
                            <th class="table__table-header" mat-header-cell *matHeaderCellDef> </th>
                            <td class="table__table-body" mat-cell *matCellDef="let element">
        
                                <button *ngIf="element.status == 0" class="settings-button" mat-mini-fab [matMenuTriggerFor]="settings">
                                    <mat-icon class="settings-button__icon">more_vert</mat-icon>
                                </button>
                                <div class="settings-menu">
                                    <mat-menu #settings="matMenu" xPosition="before">
                                        <button class="settings-menu__item" mat-menu-item  (click)="editTeller(element)"><mat-icon>create</mat-icon>Edit</button>
                                    </mat-menu>
                                    
                                </div>
                            </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
               </div>
            </mat-card-content>
            <div style="text-align: center;" *ngIf="tellerData === 0">
                <br>
                    <p> NO RECORD FOUND... </p>
                <hr>
            </div>
            <div class="pagination">
                <mat-paginator [pageSizeOptions]="[10, 15, 100]" showFirstLastButtons></mat-paginator>
            </div>
        </mat-card>
    </div>
</div>


<ng-template #tellerDialog>
	<mat-card  class="card card-wrapper">
		<mat-card-title class="card__header">
			<h5 style="text-align: center;">Edit Teller</h5>
		</mat-card-title>
		<hr>
		<mat-card-content >
			<form class="form " [formGroup]="tellerForm" (ngSubmit)="tellerChanges()" >
				
				<mat-form-field class="example-full-width" appearance="outline">
					<mat-label class="form__label">Firstname</mat-label>
					<input formControlName="firstname" matInput type="text"  autocomplete="off" >		
				</mat-form-field>

				<mat-form-field class="example-full-width" appearance="outline">
					<mat-label class="form__label">Lastname</mat-label>
					<input formControlName="lastname" matInput type="text"  autocomplete="off" >		
				</mat-form-field>

				<mat-form-field class="example-full-width" appearance="fill">
					<span matPrefix>+63 &nbsp;</span>
					<mat-label class="form__label">Contact Number</mat-label>
					<input formControlName="contactNo" matInput type="text" maxlength="10" autocomplete="off" >		
				</mat-form-field>

				<mat-form-field class="example-full-width" appearance="outline">
					<mat-label class="form__label">Email</mat-label>
					<input formControlName="email" matInput type="email"  autocomplete="off" >		
				</mat-form-field>

				<mat-form-field class="example-full-width" appearance="outline">
					<mat-label class="form__label">Address</mat-label>
					<input formControlName="locationAddress" matInput type="text"  autocomplete="off" >		
				</mat-form-field>
				<div align = "end" style="padding: 20px; border-top: solid 1px #ececec;">
					<button mat-raised-button color="warn" mat-dialog-close="true"> Close </button>
					&nbsp;&nbsp;
					<button type="submit" mat-raised-button color="primary" mat-dialog-close="true" [disabled]="tellerForm.invalid"  > Save Changes </button>
				</div>
			</form>
		</mat-card-content>
		
	</mat-card>
</ng-template>


