<div  fxLayout="row wrap">
    <mat-toolbar class="page-header" role="heading">
        <div fxFlex="5%" fxFlex.md="5%" fxFlex.xs="5%" class="example-button-container" >
            <button [routerLink]="['/macsettings']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style=" color: darkgray; cursor: pointer; height: 50px; width: 50px; background-color: white;"   matTooltip="Back"  mat-mini-fab aria-label="Example icon button with a filter list icon">
                <i style="font-size: 50px;" class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
            </button>
        </div>
        <div fxFlex="95%" fxFlex.md="95%" fxFlex.xs="95%">
            <h1>Incident Report</h1>
        </div>
    </mat-toolbar>
</div>
<br>
<div  fxLayout="row wrap">
    <div  fxFlex="30%" fxFlex.md="30%" fxFlex.xs="30%">
        <mat-card class="card card-wrapper">
            <mat-card-title class="card__header">
                <h5  class="card__title"> Incident </h5>
            </mat-card-title>
            <mat-card-content>
                
            </mat-card-content>
        </mat-card>
    </div>
</div>