
<!-- <div class="inline-block">
    <mat-card style="cursor: pointer;" class="card credentialing">
        <div class="overlay"></div>
        <img mat-card-image src="./../../../assets/img/water.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
        </mat-card-content>

    </mat-card>
</div> -->

<div class="inline-block" (click)="ubx()">
    <mat-card style="cursor: pointer;" class="card credentialing">
        <div class="overlay"></div>
        <img mat-card-image src="./../../../assets/img/i2i.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
        </mat-card-content>

    </mat-card>
</div>

<div class="inline-block" (click)="sabong()">
    <mat-card style="cursor: pointer;" class="card credentialing">
        <div class="overlay"></div>
        <img mat-card-image src="./../../../assets/img/sabong.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
        </mat-card-content>

    </mat-card>
</div>

<div class="inline-block" (click)="biyahe_Ko()">
    <mat-card style="cursor: pointer;" class="card credentialing">
        <div class="overlay"></div>
        <img mat-card-image src="./../../../assets/img/biyaheko.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
        </mat-card-content>

    </mat-card>
</div>

<div class="inline-block">
    <mat-card [routerLink]="['/loadcentralComponnt']" style="cursor: pointer;" class="card credentialing">
        <div class="overlay"></div>
        <img mat-card-image src="./../../../assets/img/loadcentral.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
        </mat-card-content>

    </mat-card>
</div>

<div class="inline-block">
    <mat-card (click)="function_getToken()" [routerLink]="['/barkotadashboard']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="cursor: pointer;" class="card credentialing">
        <div class="overlay"></div>
        <img mat-card-image src="./../../../assets/img/barkota.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
        </mat-card-content>

    </mat-card>
</div>
