<div class="cs-backdrop" *ngIf="progress">
    <mat-progress-bar mode="query" class="cs-absolute"></mat-progress-bar>
</div>
<div  fxLayout="row wrap">
    <div fxFlex="5%" fxFlex.md="100%" fxFlex.xs="100%" class="example-button-container" >
        <button [routerLink]="['/transactions']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="margin-top:50%; margin-left: 20px; color: darkgray; cursor: pointer; height: 50px; width: 50px; background-color: white;"   matTooltip="Back"  mat-mini-fab aria-label="Example icon button with a filter list icon">
            <i style="font-size: 50px;" class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
        </button>
    </div>
	<div  fxFlex="80%" fxFlex.md="100%" fxFlex.xs="100%">
		<mat-toolbar class="page-header" role="heading">
			<h1>Transactions</h1>
		</mat-toolbar>
	</div>
	<div style="margin-top: 2% ;"  fxFlex="10%" fxFlex.md="100%" fxFlex.xs="100%">
		<button (click) = "function_openTOpLoad()"  mat-raised-button style="background-color:black;color: white;"> <mat-icon>loupe</mat-icon> Reload </button>
	</div>
</div>
<mat-card class="card card-wrapper">
    <mat-card-title class="card__header">
        
          <h5  class="card__title">
            Top Upload &nbsp;&nbsp; <span style="color: rgb(22, 112, 22);" > {{ fWallet  }} </span>
        </h5>
        
    </mat-card-title>
    <mat-card-content   class="card__content">
        <table  style="width: 100%;"  class="table__table" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="no">
                <th class="table_table-header" mat-header-cell *matHeaderCellDef> No. </th>
                <td class="table_table-body" mat-cell *matCellDef="let element; index as i"> {{ i + 1 }}. </td>
            </ng-container>

            <ng-container matColumnDef="reference number">
                <th class="table_table-header" mat-header-cell *matHeaderCellDef>Reference Number</th>
                <td class="table_table-body" mat-cell *matCellDef="let element"> {{ element.referenceNumber }} </td>
            </ng-container>

            <ng-container matColumnDef="image">
                <th class="table_table-header" mat-header-cell *matHeaderCellDef>Receipt image</th>
                <td class="table_table-body" mat-cell *matCellDef="let element" (click)="zoomOut(element)">
                    <img class="image zoom-in"  src="{{element.image | imgpipe}}" alt="">
                </td> 
                
            </ng-container>

            <ng-container matColumnDef="transaction date">
                <th class="table_table-header" mat-header-cell *matHeaderCellDef>Transaction date</th>
                <td class="table_table-body" mat-cell *matCellDef="let element"> {{ element.transaction_date | date: 'medium' }}  </td>
            </ng-container>

            <ng-container matColumnDef="payment date">
                <th class="table_table-header" mat-header-cell *matHeaderCellDef>Payment date</th>
                <td class="table_table-body" mat-cell *matCellDef="let element"> {{ element.payment_date | date: 'medium' }} </td>
            </ng-container>
            
            <ng-container matColumnDef="payment status">
                <th class="table_table-header" mat-header-cell *matHeaderCellDef>Payment status</th>
                <td class="table_table-body" mat-cell *matCellDef="let element"> 
                    
                    <mat-chip-list aria-label="Fish selection">
                        <mat-chip matTooltip="{{ element.transaction_date | date: 'medium' }}" *ngIf = "element.payment_status === 0" color="accent" selected>pending...</mat-chip>
                        <mat-chip *ngIf = "element.payment_status === 1" color="primary" selected>paid</mat-chip>
                    </mat-chip-list>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="amount">
                <th class="table_table-header" mat-header-cell *matHeaderCellDef>Amount</th>
                <td class="table_table-body" mat-cell *matCellDef="let element"> &#8369;{{ element.amount | number }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </mat-card-content>
    <div style="text-align: center;" *ngIf="topUpLength === 0" >
        <br>
            <p > NO RECORD FOUND.. </p>
        <hr>
    </div> 	
    <div class="pagination">
        <mat-paginator [pageSizeOptions]="[10, 15, 100]" showFirstLastButtons></mat-paginator>
    </div>
</mat-card>

<ng-template #zoomOutImage>
    <img [src]="image | imgpipe " style="width: 100%;">
</ng-template>