<mat-toolbar class="page-header" role="heading">
	<h1>Branch</h1>
</mat-toolbar>

<div fxLayout="row wrap" fxLayoutGap="0px grid">

	<div fxFlex="30%" fxFlex.md="100%" fxFlex.xs="100%">
		<mat-card class="card card-wrapper">
			<mat-card-title class="card__header">
			  	<h5 class="card__title">Add Franchise</h5>
			</mat-card-title>
			<mat-card-content class="card__content">

				<!-- <app-addbranch></app-addbranch> -->

			</mat-card-content>
		</mat-card>
	</div>

	<div fxFlex="70%" fxFlex.md="100%" fxFlex.xs="100%">
		<!-- <app-branchlist></app-branchlist> -->
	</div>

</div>
